

:root {
  --indent-20: 20px;
}

#root{
}

.content{
  transition: all 1s;
}

.fixed_right {
  position:fixed;
}

.my_menu {
  margin-bottom: var(--indent-20) !important;

  &__item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    flex: 0 0 auto;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    transition: background .1s ease,box-shadow .1s ease,color .1s eas;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: rgba(34,36,38,.1);
    }

    &--active {
      background: color(white blackness(5));
      color: color(black alpha(0.95));
      font-weight: 400;
      box-shadow: none;
    }
  }
}
